name: check-build
on:
  pull_request:
    types: [opened, reopened, synchronize]
  pull_request_target:
    types: [opened, reopened, synchronize]

jobs:
  build:
    uses: Zealandia-Systems/Swordfish/.github/workflows/build-func.yml@main
